.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar button {
  margin-right: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #8ba9df;
  border-radius: 4px;
  
}


.navbar .active {
  background-color: #4285f4;
  color: white;
}

.logout {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

.logout:hover {
  background-color: #d32f2f;
}

.content {
  margin-top: 20px;
}
